@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

:root{
  --text-color: #000000;
  --card-front-color: #f1f51e;
  --card-back-color: #dacc07;
}

body {
  background: url(img/imagem.jpg);
  font-family: Handjet;
}
.cartao__conteudo {
  background-color: var(--card-front-color);
  text-align: center;
  height: 100%;
}
#container {
  display: flex;
  flex-wrap: wrap;
}
.cartao {
  margin: 1rem 1rem;
  height: 20rem;
  flex-grow: 1;
  flex-basis: calc(33% - 6rem);
}
.cartao__conteudo p {
  padding: 4rem;
}
